<html>

<head>
    <title>
        <%=pageTitle%>
    </title>
</head>

<body>

    <body>

        <div id="form-input">
            <form action="/students/add" method="post">

                <br> First Name :
                <br>
                <input type="text" name="first_name"> <br> Last Name :
                <br>
                <input type="text" name="last_name"><br> Email :
                <br>
                <input type="text" name="email"><br>
                <br>
                <input type="submit" value="Save">
            </form>

        </div>
        <a href="/students">Student</a>
    </body>

</html>