<html>

        <% include ../partials/head %>
        
            <body>
                <% include ../partials/menu%>
    <h2>Add Subject</h2>
    <div id="form-input">

        <form action="/subjects/add" method="post">

            <br> Subject Name :
            <br>
            <input type="text" name="subject_name"> <br>
            <br>

            <input id="btn" type="submit" value="Save">
        </form>
</body>

</html>