<html>

<head>
    <title>Add Subject</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="form-input">

        <form action="/subjects/add" method="post">

            <br> Subject Name :
            <br>
            <input type="text" name="subject_name"> <br>
            <br>

            <input type="submit" value="Save">
        </form>

    </div>

</body>

</html>