<html>

<% include ../partials/head %>

    <body>
        <% include ../partials/menu%>
            <h2>Add Teacher</h2>
            <div id="form-input">

                <form action="/teachers/add" method="post">

                    <br> First Name :
                    <br>
                    <input type="text" name="first_name"> <br> Last Name :
                    <br>
                    <input type="text" name="last_name"><br> Email :
                    <br>
                    <input type="text" name="email"><br>
                    <br>

                    <select name="SubjectId"> 
                        <%dataSubject.forEach((subject)=>{ %>
                    <option value=<%=subject.id%>><%=subject.subject_name%></option>
                    <%})%>
                </select> <br>

                <br>

                    <input type="submit" value="Save">
                </form>

    </body>

</html>