<html>

<head>
    <title>
        <%=pageTitle%>
    </title>
</head>

<body>
        <div id="form-input">

            <form action="/teachers/add" method="post">

                <br> First Name :
                <br>
                <input type="text" name="first_name"> <br> Last Name :
                <br>
                <input type="text" name="last_name"><br> Email :
                <br>
                <input type="text" name="email"><br>
                <br>

                <select name="SubjectId"> 
                        <%dataSubject.forEach((subject)=>{ %>
                    <option value=<%=subject.id%>><%=subject.subject_name%></option>
                    <%})%>
                </select>



                <input type="submit" value="Save">
            </form>

        </div>
        <a href="/teachers">Teacher</a>

</body>

</html>