<html>

<head>
    <title>
     
    </title>
</head>

<body>
    <h2>Add User</h2>
    <div id="form-input">

        <form action="/users/add" method="post">

            <br> Username :
            <br>
            <input type="text" name="username"> <br> Password
            <br>
            <input type="text" name="password"><br>
            <br>
            <select name="role"> 
                <option value='teacher'>Teacher</option>
                <option value='headmaster'>Headmaster</option>
                <option value='academic'>Academic</option>
            </select>

            <input type="submit" value="Save">
        </form>

    </div>
    <!-- <a href="/teachers">Teacher</a> -->

</body>

</html>