<!DOCTYPE html>
<html>
<% include ../partials/head %>

    <body>
        <% include ../partials/menu%>
                <h2>
                    Welcome to Data School Management
                </h2>
    </body>

</html>