<!DOCTYPE html>
<html>

<head>
    <title> <%= pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <% include ../partials/menu%>
    <h2>
      Welcome to Data School Management
    </h2>
</body>

</html>