<html>

<head>
    <title>
        <%=pageTitle%>
    </title>
</head>
<form action="login" method="post">
    <%= message%>
        <div class="container">
            <label><b>Username</b></label> <br>
            <input type="text" placeholder="Enter Username" name="username" required> <br>
            <br>
            <label><b>Password</b></label> <br>
            <input type="password" placeholder="Enter Password" name="password" required> <br>
            <br>
            <button type="submit">Login</button>

        </div>

</form>

</html>